/* Library Management Styling */

/* Color Pattern */
:root{
    --blush: #ea638cff;
    --fandango: #b33c86ff;
    --federal-blue: #190e4fff;
    --oxford-blue: #03012cff;
    --dark-green: #002a22ff;
    --bg-white: #F4F4F4;
    --bg-dark_white: #eae8e8;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--oxford-blue);
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    position: relative;
}
aside{
    background-color: var(--federal-blue);
    width: 250px;
    color: var(--bg-white);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 1s;
    min-height:   100vh;
    max-height: fit-content;
}
body.expand aside{
    left: -300px;
    transition: left 1s;
}
aside .lm-info i{
    font-size: 35px;
    padding: 10px 0px 5px 0px ;
    color: var(--bg-white);

}
aside .lm-info-title {
    font-weight: lighter; 
    font-size: 18px;
    padding: 15px 0px 10px 0px;
    margin: 0px;
}
main{
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: left 1s;
}
body.expand main{
    width: 100%;
    left: 0px;
    transition: left 1s;
}

label.error{
    color: rgba(255, 0, 0, 0.596);
}
.form-control.valid{
    border: none;
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-control.valid:active{
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-control.valid:focus{
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-select.valid{ 
    border: none;
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-select.valid:active{
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-select.valid:focus{
    box-shadow: 0px 0px 2px 2px  rgba(48, 229, 12, 0.425)!important;
}
.form-control.error{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
    border: none;
}
.form-control.error:active{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
}
.form-control.error:focus{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
}
.form-select.error{
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
}
.form-select.error:active{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
}
.form-select.error:focus{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.589) !important;
}
.alert-success{
    width: 90%;
    margin: 10px auto 20px auto;
    display: none;
}

/* Navigation  */
aside nav ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    padding-left: 0px;
}
aside nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 10px 0px;
    color: var(--bg-white);
    transition: .5s;
}
aside nav ul li a:hover{
    background-color: #eae8e86b;
    color: var(--dark-green);
    border-radius: 10px;
    transition: background-color .5s;
}
aside nav ul li.active a{
    background-color: var(--bg-white);
    color: var(--dark-green);
    border-radius: 10px;
}
aside nav ul li a span{
    padding: 0px 20px 0px 20px;
}



/* Header  */
header{
    background-color: var(--bg-dark_white);
    padding: 10px 30px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .left button{
background-color: transparent;
outline: none;
border: none;
cursor: pointer;
}
header .left button i{
    font-size: 18px;
}
header .left input{
    outline: none;
    padding: 5px 10px;
    border: 1px solid var(--dark-green);
    background-color: unset;
    margin: 0px 10px;
    color: var(--dark-green);
    border-radius: 5px;
}
header .right button{
    background-color: white;
    border: 1px solid var(--dark-green);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
header .right button:hover{
    border: 1px solid var(--dark-green);
}


/* Footer */
footer{
    background-color: var(--bg-dark_white);
    margin-top: 10px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    color: var(--dark-green);
    text-align: center;
    margin: 0px;
}
footer p a{
   text-decoration: underline; 
   color: var(--dark-green);
}

/* boost-up */

.boost-up{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 2px var(--bg-dark_white);
    cursor: pointer;
}
/* Main Content */
.main-content{
    min-height:93vh;
}
.btn.btn-primary{
    background-color: var(--federal-blue);
    border-color: var(--federal-blue);
    font-weight:400;
}
.btn.btn-primary:hover{
    background-color: var(--federal-blue);
    border-color: var(--federal-blue);
}

/* Main Content Books */
.page-header{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 20px 20px 20px;
    background-color: white;    
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--bg-dark_white);
    padding: 0px 20px;
}

.page-content{
    margin: 20px 20px 20px 20px;
    padding: 0px 20px;
}


